/* IMPORT ESSENTIAL WP STYLES */
.entry-content img {
	margin-bottom:1.5em;
	max-width:100%;
	height:auto;
}
.alignleft, img.alignleft {
	display: inline;
	float: left;
	margin: 0 1.5em 1.5em 0;
}
.alignright, img.alignright {
	display: inline;
	float: right;
	margin: 0 0 1.5em 1.5em;
}
.aligncenter, img.aligncenter {
	margin: 1.5em auto;
	display: block;
	clear: both;
}
.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
	img {
		border: 0 none;
		padding: 0;
		margin: 0;
	}
	p.wp-caption-text {
		line-height: 1.5;
		font-size: 10px;
		margin: 0;
	}
}
.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
}
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
}
.gallery dl {
}
.gallery dt {
}
.gallery dd {
}
.gallery dl a {
}
.gallery dl img {
}
.size-full,
.size-large,
.size-medium, 
.size-thumbnail {
	max-width: 100%;
	height: auto;	
}
.gallery-caption
.post-id,
.post,
.page,
.attachment,
.sticky,
.hentry {
	display:block;
}
.post-date, .bypostauthor {
	font-style:italic;	
}
.screen-reader-text {
	@extend %accessibility;
	&:focus {
		clip: auto !important;
		display: block;
		height: auto;
		left: 5px;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
