/* Forms */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	height: 38px;
	padding: 6px 10px;
/* The 6px vertically centers text on FF,
ignored by Webkit */
	background-color: $white;
	border: 1px solid darken($white, 20%);
	border-radius: $border-radius-base;
	box-shadow: none;
	box-sizing: border-box;
	&:focus {
		border: 1px solid $brand-primary;
		outline: 0;
	}
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px;
	max-width: 100%;
}

fieldset {
	padding: 0;
	border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

label > .label-body {
	display: inline-block;
	margin-left: .5rem;
	font-weight: normal;
}

form {
	.send-yourself-copy {
		float: right;
	}
}

.form-group {
	margin-bottom: $gutter-base;
	label,
	legend {
		display: block;
		margin-bottom: $gutter-sm;
		font-weight: 600;
		font-size: $font-size-small;
	}
	.form-input {
		width: 100%;
	}
}

.comment-form-comment {
	label {
		display: block;
	}
}
