/* Typography */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: $gutter-base;
	font-weight: 500;
}
h1 {
	font-size: $font-size-h1;
}
h2 {
	font-size: $font-size-h2;
}
h3 {
	font-size: $font-size-h3;
}
h4 {
	font-size: $font-size-h4;
}
h5 {
	font-size: $font-size-h5;
}
h6 {
	font-size: $font-size-h6;
}

p {
	margin-top: 0;
}

/* Links */
a {
	color: $brand-primary;
}
a:hover {
	color: darken($brand-primary, 10%);
}

/* Blockquote */
blockquote {
	border-left: 4px solid $brand-primary;
	margin: 30px 0px;
    padding-left: 30px;
}
