/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
	width: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0px $gutter-base;
	box-sizing: border-box;
	@media (min-width: $xs) { width: 100%; }
	@media (min-width: $sm) { width: $sm; }
	@media (min-width: $md) { width: $md; }
	@media (min-width: $lg) { width: $lg; }
}

.row {
	margin: 0px (-$gutter-base);
}

.hidden-lg {
	display: block;
	@media (min-width: $lg) { display: none; }
}

.hidden-md {
	display: block;
	@media (min-width: $md) { display: none; }
	@media (min-width: $lg) { display: block; }
}

.hidden-sm {
	display: block;
	@media (min-width: $sm) { display: none; }
	@media (min-width: $md) { display: block; }
}

.hidden-xs {
	display: none;
	@media (min-width: $sm) { display: block; }
}

// use grid.scss for columns

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
	font-size: $font-size-base;
	line-height: $line-height-base;
	font-weight: 400;
	font-family: $font-family-base;
	color: $text-color;
	overflow-x: hidden;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
	margin-top: $gutter-lg;
	margin-bottom: $gutter-lg;
	border-width: 0;
	border-top: 1px solid darken($white, 10%);
}


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
	content: "";
	display: table;
	clear: both;
}
