/**
 * CUSTOM VARIABLES
 *
 *	All variables should be configured in this file.
 *	Use variables rather than hard values to maintain consistency throughout the design
 *	and allow more flexiblity when updating and making tweaks.
 *
 */

// Enviroment
$dev_enviroment:			true;
$website_url: 				if($dev_enviroment != true, "https://wordpress-base-theme.co.uk", "http://localhost/wordpress-base-theme");
$theme_dir:					'/wp-content/themes/hgabase';

// Colours
$white:						#fff;
$black:						#333;
$blue:						#5bc0de;
$darkblue:					#337ab7;
$green:						#5cb85c;
$yellow:					#f0ad4e;
$red:						#d9534f;
$pink:						#e50065;
$orange:					#F26B0F;

$brand-primary:				$orange;
$brand-secondary:			$blue;
$brand-success:				$green;
$brand-warning:				$yellow;
$brand-error:				$red;

$text-color:				$black;

// Breakpoints and grid
$xs:						540px;
$sm:						720px;
$md:						960px;
$lg:						1140px;

$gutter-base: 				15px;
$gutter-sm: 				7.5px;
$gutter-lg:					30px;
$gutter-xl:					60px;

// Fonts
$font-family-base:			"Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base:			16px;
$font-size-small:			14px;

$line-height-base:			1.6;

$font-size-h1:				30px;
$font-size-h2:				20px;
$font-size-h3:				16px;
$font-size-h4:				14px;
$font-size-h5:				14px;
$font-size-h6:				10px;
