/*
|
| By default you shouldn't really need to add any mixins in here, there are
| lots of options and controls that should adequately allow you to built
| a website's styles with minimal effort and maximum efficiency.  However,
| sometimes a particular website may require additional functionality at this
| stage.  In order to keep this file intact and in order, please add any
| custom mixin functionality in this are provided.
|
|--------------------------------------------------------------------------
| BEGIN CUSTOM MIXINS
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| END CUSTOM MIXINS
|--------------------------------------------------------------------------
*/
.xs1, .xs2, .xs3, .xs4, .xs5, .xs6, .xs7, .xs8, .xs9, .xs10, .xs11, .xs12,
.sm1, .sm2, .sm3, .sm4, .sm5, .sm6, .sm7, .sm8, .sm9, .sm10, .sm11, .sm12,
.md1, .md2, .md3, .md4, .md5, .md6, .md7, .md8, .md9, .md10, .md11, .md12,
.lg1, .lg2, .lg3, .lg4, .lg5, .lg6, .lg7, .lg8, .lg9, .lg10, .lg11, .lg12,
.input-group,
.row,
.content {
  box-sizing: border-box;
  behavior: url("http://localhost/wp-content/themes/hga-digital/css/boxsizing.htc"); }

audio,
canvas,
video {
  display: inline;
  zoom: 1; }

html {
  font-size: 100%; }

img {
  width: auto;
  height: auto;
  -ms-interpolation-mode: bicubic; }

button,
input {
  overflow: visible; }

.container,
.container-fluid {
  zoom: 1; }

.row {
  zoom: 1; }

.dl-horizontal {
  zoom: 1; }

input[type="radio"],
input[type="checkbox"] {
  margin-top: 0; }

.breadcrumb > li {
  display: inline;
  zoom: 1; }

.help-block {
  display: inline;
  zoom: 1; }

.form-horizontal .form-group {
  zoom: 1; }

.dropdown-toggle {
  margin-bottom: -3px; }

.dropdown-menu .divider {
  width: 100%;
  margin: -5px 0 5px 0; }

.list-group {
  margin-left: 0; }

ul .list-group-item {
  list-style: none; }

.sr-only, .screen-reader-text {
  clip: rect(0 0 0 0); }

.clearfix {
  zoom: 1; }

.list-inline > li {
  display: inline;
  zoom: 1; }
