/*
|
| By default you shouldn't really need to add any mixins in here, there are
| lots of options and controls that should adequately allow you to built
| a website's styles with minimal effort and maximum efficiency.  However,
| sometimes a particular website may require additional functionality at this
| stage.  In order to keep this file intact and in order, please add any
| custom mixin functionality in this are provided.
|
|--------------------------------------------------------------------------
| BEGIN CUSTOM MIXINS
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| END CUSTOM MIXINS
|--------------------------------------------------------------------------
*/
html, body {
  height: 100% !important; }

html {
  overflow-y: hidden; }

body {
  overflow-y: scroll !important; }

@media \0screen {
  img {
    width: auto;
    /* Prevent height distortion in IE8. */ } }
