/**
 * CUSTOM VARIABLES
 *
 *	All variables should be configured in this file.
 *	Use variables rather than hard values to maintain consistency throughout the design
 *	and allow more flexiblity when updating and making tweaks.
 *
 */

// Enviroment
$dev_enviroment:			true;
$website_url : if($dev_enviroment != true, "https://hgacreative.co.uk", "http://localhost/hgacreative");

// Colours
$white:						#fff;
$black:						#333;
$blue:						#5bc0de;
$darkblue:					#337ab7;
$green:						#5cb85c;
$yellow:					#f0ad4e;
$red:						#d9534f;
$pink:						#e50065;

$brand-primary:				$pink;
$brand-secondary:			darken($pink, 10%);
$brand-success:				$green;
$brand-warning:				$yellow;
$brand-error:				$red;

$text-color:				$black;

// Breakpoints and grid
$xs:						540px;
$sm:						720px;
$md:						960px;
$lg:						1140px;

$gutter-base: 				15px;
$gutter-lg:					30px;
$gutter-xl:					60px;

// Fonts
$font-family-base:			"Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base:			16px;
$font-weight-base:			400;

$line-height-base:			1.6;
