/**
 * CUSTOM VARIABLES
 *
 *	All variables should be configured in this file.
 *	Use variables rather than hard values to maintain consistency throughout the design
 *	and allow more flexiblity when updating and making tweaks.
 *
 */

// Enviroment
$dev_enviroment:			true;
$website_url : if($dev_enviroment != true, "https://hgacreative.co.uk", "http://localhost/hgacreative");

// Colours
$white:						#fff;
$black:						#333;
$blue:						#21a2b7;
$darkblue:					#0b73b7;
$green:						#DAE088;
$yellow:					#F9B64C;
$red:						#B32C31;

$brand-primary:				$blue;
$brand-secondary:			$darkblue;
$brand-success:				$green;
$brand-warning:				$yellow;
$brand-error:				$red;

$text-color:				$black;

// Breakpoints and grid
$xs:						540px;
$sm:						720px;
$md:						960px;
$lg:						1140px;

$gutter_width: 				15px;

// Fonts
$font-family-base:			"Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base:			16px;
$font-weight-base:			400;

$line-height-base:			1.6;
